In [84]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix

In [85]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 
'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 
'hours-per-week', 'native-country', 'income']

# load the data
data= pd.read_csv("adult.data", names= columns , na_values=['?'], sep=', ')
data

C:\Users\DELL\AppData\Local\Temp\ipykernel_22280\148831540.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data= pd.read_csv("adult.data", names= columns , na_values=['?'], sep=', ')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [86]:
# the testing data
#we'll skip the first row to remove the 1x3 cross validator
testing_data = pd.read_csv("adult.test", names= columns, skiprows=1, na_values=['?'], sep=', ')
testing_data

C:\Users\DELL\AppData\Local\Temp\ipykernel_22280\2998640759.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  testing_data = pd.read_csv("adult.test", names= columns, skiprows=1, na_values=['?'], sep=', ')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16277,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [87]:
# checking missing values

print("missing values of the training set\n", data.isnull().sum())
print("sum of null values of the training set : " ,data.isnull().sum().sum())

print("\n")

print("missing values of the testing set\n", testing_data.isnull().sum())
print("sum of null values of the testing set : " ,testing_data.isnull().sum().sum())

# drop na 

data = data.dropna()
testing_data = testing_data.dropna()

print("missing values of the training set after dropping the missing values : \n", data.isnull().sum())
print("sum of null values of the training set after dropping the missing values : " ,data.isnull().sum().sum())

print("\n")

print("missing values of the testing set after dropping the missing values : \n", testing_data.isnull().sum())
print("sum of null values of the testing set after dropping the missing values  : " ,testing_data.isnull().sum().sum())

missing values of the training set
 age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64
sum of null values of the training set :  4262


missing values of the testing set
 age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64
sum of null values of the testing set :  2203
missing values of the training set after dropping the missing values :
 age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64
sum of null values of the training set after dropping the missing values :  0


missing values of the testing set after dropping the missing values :
 age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64
sum of null values of the testing set after dropping the missing values  :  0

In [88]:
# split the data into the inputs and the target variable (the income)
x_train = data.drop("income" , axis=1)
y_train = data['income']
x_test = testing_data.drop("income" , axis=1)
y_test = testing_data['income']

We'll split the target variable from the set we want to apply the one hot conding method (turns categorical values into binary values) to improve the prediction accuracy.

Afterwards there'll be slight issue that we'll bet met with where Holland-Netherlands is found in the training set and not in the testing set thus there'll be an extra column in the training that isn't found in the testing which'll give an error.

To fix that we'll need to concatinate the training set with the testing set so that there'll be Holland-Netherlands in both sets.

And then we'll split them again by taking the data from 0 to the length of the x_train and the test starts from the length of the x_train till the end.

In [89]:
new_data = pd.concat([x_train,x_test],axis=0)

encoding = pd.get_dummies(new_data,columns=new_data.select_dtypes(include=["object"]).columns)

encoded_x_train = encoding[:len(x_train)]
encoded_x_test = encoding[len(x_train):]

In [90]:
# instead of false & true to 0's to 1's
binary_y_train = (y_train == '>50K').astype(int)
binary_y_test = (y_test == '>50K.').astype(int)


print("y_train: \n" ,y_train)
print("binary_y_train : \n", binary_y_train)
print("y_test: \n" ,y_test)
print("binary_y_test : \n", binary_y_test)

y_train:
 0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: income, Length: 30162, dtype: object
binary_y_train :
 0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: income, Length: 30162, dtype: int32
y_test:
 0        <=50K.
1        <=50K.
2         >50K.
3         >50K.
5        <=50K.
          ...
16275    <=50K.
16276    <=50K.
16278    <=50K.
16279    <=50K.
16280     >50K.
Name: income, Length: 15060, dtype: object
binary_y_test :
 0        0
1        0
2        1
3        1
5        0
        ..
16275    0
16276    0
16278    0
16279    0
16280    1
Name: income, Length: 15060, dtype: int32

In [91]:
naive_bayes  = GaussianNB()
naive_bayes.fit(encoded_x_train, binary_y_train)

GaussianNB()

In [92]:
# predicting

y_pred = naive_bayes.predict(encoded_x_test)
y_pred

array([0, 0, 0, ..., 0, 1, 0])

confusion matrix

                                   Actual 
                              yes          no 
                       yes    TP           FP
                    predicted
                       no     FN           TN

In [94]:
# confusion matrix
tn,fp,fn,tp = confusion_matrix(binary_y_test,y_pred).ravel()

# sensitivity
sensitivity = tp/(tp+fn)
print("sensitivity = ",sensitivity)

# specificity 
specificity = tn/(tn+fp)
print("specificity = ",specificity)

#Posterior Probability
posterior_prob = naive_bayes.predict_proba(encoded_x_test)
print("Posterior probability of making a yearly income of >=50K is =  ",posterior_prob[:,1])

sensitivity =  0.3062162162162162
specificity =  0.945862676056338
Posterior probability of making a yearly income of >=50K is =   [0.00256307 0.01595412 0.00665536 ... 0.02297512 0.99999491 0.02961601]